<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIL</title>
</head>
<body>
    <!---encabezado--->
    <h1>Mi primera web</h1>
     <!---menu--->
    <ul>
        <li><a href="index.html" title="Inicio">Inicio</a></li>
        <li><a href="contenidos.html" title="Contenidos">Contenidos</a></li>
        <li><a href="contacto.html" title="Contacto">contacto</a></li>
    </ul>
    <hr/>
     <!---contenido de contacto.html--->
     <h2>Contacto</h2>
    <form action="">
        <p>
        <label for="nombre">Nombre</label><br/>
        <input type="text" name="nombre">
    </p>
    <p>
        <label for="biografia">Biografía</label><br/>
        <textarea name="biografia" id="" cols="30" rows="10"></textarea>
    </p>

    <p>
        <label for="edad">Edad</label>
        <select name="edad" id="">
            <option value="mayor">Mayor de edad</option>
            <option value="adulto">Adulto</option>
            <option value="65">Mayor de 65</option>
        </select>
    </p>
    <input type="submit" value="Enviar email"/>
    </form>
     
</body>
</html>