<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

  <link href="../css/estilos.css" rel="stylesheet" type="text/css" />

  <title>SIL</title>
</head>

<body>
  <!---encabezado--->
  <header>
    <img src="../imagenes/Mesadetrabajo.png" class="img-fluid" alt="Responsive image" />
  </header>

  <!---menu- -->
  <img src="../imagenes/sindicato.jpg" class="img-fluid" alt="Responsive image" />

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="uno" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    VEN A CONOCER EL SIL Y SU HISTORIA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../view/historia.html">NUESTRA HISTORÍA</a>
                    <a class="dropdown-item" href="../view/estructura.html">ESTRUCTURA SINDICAL</a>

                </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dos" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                           EL SIL EN ACCIÓN
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../view/noticias.html">NOTICIAS</a>
                    <a class="dropdown-item" href="../view/fotos.html">FOTOS</a>
                </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="tres" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                             NUESTRO CONTRATO COLECTIVO
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../view/documentos.html">DOCUMENTOS</a>
                    <a class="dropdown-item" href="../view/clausulas.html">CLAÚSULAS CONTRATO</a>
                </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="cuatro" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                            RED BIENESTAR Y APOYO SOCIAL
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../view/convenios.html">CONVENIOS</a>
                    <a class="dropdown-item" href="../view/bienestar.html">RED BIENESTAR</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
  <!---contenido de index.html--->

  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-1 col-lg-1" style="background-color:transparent;">
        <img src="../imagenes/Iconos/papel.png" class="img-fluid" alt="Responsive image" />
      </div>
      <div class="col-sm-4" style="background-color:transparent;">Contrato Ekono</div>
      <div class="col-sm-4" style="background-color:transparent;">
        <a href="../pdf/Contrato-EKONO.pdf" download="Contrato Ekono">
          Descargar Contrato Ekono
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-1 col-lg-1" style="background-color:transparent;">
        <img src="../imagenes/Iconos/papel.png" class="img-fluid" alt="Responsive image" />
      </div>
      <div class="col-sm-4" style="background-color:transparent;">Contrato ACuenta</div>
      <div class="col-sm-4" style="background-color:transparent;">
        <a href="../pdf/Contrato-ACUENTA.pdf" download="Contrato ACuenta">
          Descargar Contrato ACuenta
        </a>
      </div>
    </div>
    <br>
    <div class="row center">
      <div class="col-sm-1 col-lg-1" style="background-color:transparent;">
        <img src="../imagenes/Iconos/papel.png" class="img-fluid" alt="Responsive image" />
      </div>
      <div class="col-sm-4" style="background-color:transparent;">Contrato Lider</div>
      <div class="col-sm-4" style="background-color:transparent;">
        <a href="../pdf/Contrato-LIDER.pdf" download="Contrato Lider">
          Descargar Contrato Lider
        </a>
      </div>
    </div>
    <br>
    <footer>
      <img src="../imagenes/footer.png" class="img-fluid" />
    </footer>
</body>


</html>