<footer class="footer">
	<div class="container-fluid p-24px my-8px">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 ">
				<div class="footer_links_a">					
					<div class="col-xs-12 pl-0">
						<p class="titulos">Para candidatos</p>
					</div>
					<ul class="first_mobile col-xs-12 pl-0">
						<li class="list_a_footer_d"><a href="https://www.trabajando.cl/trabajo-empleo/chile">Ofertas de trabajo</a></li>
						<li class="list_a_footer_e"><a href="https://tucarrera.cl">Estudio saturación de carreras
</a></li>
						<li class="list_a_footer_e"><a href="https://www.trabajando.cl/politica-de-privacidad">Política de privacidad</a></li>							
						<li class="list_a_footer_e"><a href="https://www.trabajando.cl/terminos-y-condiciones">Términos y condiciones de servicio</a></li>
						<li class="list_a_footer_e"><a href="https://www.trabajando.cl/mapa-del-sitio">Mapa del sitio</a></li>						
						<li class="list_a_footer_e"><a target="_blank" rel="noopener" href="https://blog.trabajando.cl">Blog</a></li>
						<li class="list_a_footer_e"><a href="https://empresas.trabajando.cl/nosotros/" target="_SELF">Nuestro equipo</a></li>						
					</ul>									
				</div>			
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 ">
				<div class="footer_links_b">					
					<div class="col-xs-12 pl-0">
						<p class="titulos">Para empresas</p>
					</div>
					
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="footer_links_c">
					<ul class="pl-0 ">
						<div class="titulos pl-0 ayuda"><a target="_blank" rel="noopener" href="https://ayuda.trabajando.com/"><i class="fa fa-circle" aria-hidden="true"><i class="fa fa-question fa-stack-1x" style="margin-left:-1px;"></i></i><span>Ayuda candidatos</span></a></div>
					</ul>
					<div class="col-xs-12 pl-0 mb-10px">
						<div class="subtitulos col-xs-12 px-0">Trabajando.com Chile S.A.</div>						
						<p>Renato Sánchez 3859, Las Condes, Santiago</p>
						<p>Horario de atención:</p>						
						<p>L a J de 08:30 a 20:00 / V de 08:30 a 19:00</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid p-15px footer-redes my-8px">		
		<div class="footer-rrss d-flex justify-content-between flex-direction">
			<a id="boxSocialFacebook" aria-label="Facebook" target="_blank" rel="noopener" href="http://www.facebook.com/trabajandocom.chile"><i class="fa fa-facebook" aria-hidden="true"></i></a>	
			<a id="boxSocialLinkedIn" aria-label="Linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/company/trabajando.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a id="boxSocialTwitter" aria-label="Twitter" target="_blank" rel="noopener" href="http://www.twitter.com/trabajandocl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a id="boxSocialYoutube" aria-label="Youtube" target="_blank" rel="noopener" href="http://www.youtube.com/user/TrabajandoTV"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
			<a id="boxSocialInstagram" aria-label="Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/trabajandocl/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="container-fluid p-15px copyright my-8px">
		<div class="row">
			<div class="col-xs-12 text-left my-8px">Copyright 1999 - 2021, Trabajando.com <span class="footer-reserved"></span> Todos los derechos reservados.</div>
		</div>
	</div>
</footer>